<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>顺丰</string>
		<key>code</key>
		<string>SFEXPRESS</string>
	</dict>
    <dict>
        <key>name</key>
        <string>圆通</string>
        <key>code</key>
        <string>YTO</string>
    </dict>
    <dict>
        <key>name</key>
        <string>申通</string>
        <key>code</key>
        <string>STO</string>
    </dict>
    <dict>
        <key>name</key>
        <string>中通</string>
        <key>code</key>
        <string>ZTO</string>
    </dict>
    <dict>
        <key>name</key>
        <string>汇通</string>
        <key>code</key>
        <string>HTKY</string>
    </dict>
    <dict>
        <key>name</key>
        <string>宅急送</string>
        <key>code</key>
        <string>ZJS</string>
    </dict>
    <dict>
        <key>name</key>
        <string>急先达</string>
        <key>code</key>
        <string>JOUST</string>
    </dict>
    <dict>
        <key>name</key>
        <string>韵达</string>
        <key>code</key>
        <string>YUNDA</string>
    </dict>
    <dict>
        <key>name</key>
        <string>速尔</string>
        <key>code</key>
        <string>SURE</string>
    </dict>
    <dict>
        <key>name</key>
        <string>如风达</string>
        <key>code</key>
        <string>RFD</string>
    </dict>
    <dict>
        <key>name</key>
        <string>EMS</string>
        <key>code</key>
        <string>EMS</string>
    </dict>
    <dict>
        <key>name</key>
        <string>快捷</string>
        <key>code</key>
        <string>FASTEXPRESS</string>
    </dict><dict>
        <key>name</key>
        <string>天天</string>
        <key>code</key>
        <string>TTKDEX</string>
    </dict>
    <dict>
        <key>name</key>
        <string>新邦</string>
        <key>code</key>
        <string>XBWL</string>
    </dict>
    <dict>
        <key>name</key>
        <string>国通</string>
        <key>code</key>
        <string>GTO</string>
    </dict>
    <dict>
        <key>name</key>
        <string>德邦</string>
        <key>code</key>
        <string>DEPPON</string>
    </dict>
    <dict>
        <key>name</key>
        <string>D速</string>
        <key>code</key>
        <string>DEXP</string>
    </dict>
    <dict>
        <key>name</key>
        <string>易达通</string>
        <key>code</key>
        <string>QEXPRESS</string>
    </dict>
    <dict>
        <key>name</key>
        <string>邮政包裹</string>
        <key>code</key>
        <string>CHINAPOST</string>
    </dict>
    <dict>
        <key>name</key>
        <string>优速</string>
        <key>code</key>
        <string>UC56</string>
    </dict>
    <dict>
        <key>name</key>
        <string>运通</string>
        <key>code</key>
        <string>YTEXPRESS</string>
    </dict>
    <dict>
        <key>name</key>
        <string>易通达</string>
        <key>code</key>
        <string>ETD</string>
    </dict>
</array>
</plist>
