<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
		<dict>
			<key>city</key>
			<string>beijing</string>
			<key>cityname</key>
			<string>北京</string>
		</dict>
		<dict>
			<key>city</key>
			<string>tianjin</string>
			<key>cityname</key>
			<string>天津</string>
		</dict>
		<dict>
			<key>city</key>
			<string>hangzhou</string>
			<key>cityname</key>
			<string>杭州</string>
		</dict>
		<dict>
			<key>city</key>
			<string>chengdu</string>
			<key>cityname</key>
			<string>成都</string>
		</dict>
		<dict>
			<key>city</key>
			<string>lanzhou</string>
			<key>cityname</key>
			<string>兰州</string>
		</dict>
		<dict>
			<key>city</key>
			<string>guiyang</string>
			<key>cityname</key>
			<string>贵阳</string>
		</dict>
		<dict>
			<key>city</key>
			<string>nanchang</string>
			<key>cityname</key>
			<string>南昌</string>
		</dict>
		<dict>
			<key>city</key>
			<string>changchun</string>
			<key>cityname</key>
			<string>长春</string>
		</dict>
		<dict>
			<key>city</key>
			<string>haerbin</string>
			<key>cityname</key>
			<string>哈尔滨</string>
		</dict>
		<dict>
			<key>city</key>
			<string>wuhan</string>
			<key>cityname</key>
			<string>武汉</string>
		</dict>
		<dict>
			<key>city</key>
			<string>shanghai</string>
			<key>cityname</key>
			<string>上海</string>
		</dict>
		<dict>
			<key>city</key>
			<string>shenzhen</string>
			<key>cityname</key>
			<string>深圳</string>
		</dict>
</array>
</plist>
